//== Core bootstrap variables and mixins
@import "bootstrap-components.less";

//== Custom helper classes
@import "bootstrap-utilities.less";


//
// Project specific CSS
// -------------------------------
body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}
