<p>
    <strong>First Name:</strong> {{ contact.firstName }}<br>
    <strong>Last Name:</strong> {{ contact.firstName }}<br>
    <strong>Email:</strong> {{ contact.email }}<br>
</p>
<p>
    <strong>Message:</strong><br>
    {{ contact.message|nl2br }}
</p>
