<div id="application_contact_form_container">
    {{ form_start(form, {'attr': {'id': 'application_contact_form'}}) }}
    {{ form_widget(form) }}
    <input type="submit" value="Submit" class="btn btn-primary">
    {{ form_end(form) }}
</div>
